*.log
*.iml
*.ipr
*.iws
.idea
.svn
.classpath
.project
.settings
target
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
*.gv
*.png
*~
*nbactions.xml
sonar-project.properties
scripts
*nbactions-ndb.xml
*nb-configuration.xml
dev-support/private_ips.txt
dev-support/public_ips_no_user.txt
dev-support/output/

aws-setup/config_aws.yaml
aws-setup/config_eks.yaml
aws-setup/infrastructure_json/*.json

aws-setup/test_start_datanode.py